html{
    height: 100%;
    font-family: Times New Roman, Times, serif;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-size: 62.5%;
    background-color: #F3F3F3;
    height: inherit;
}


/*
		Clearfix Hack
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/*CONTAINER*/

.container{
    height: 85%;
    width: 85%;
    margin: 0 auto; 
    padding: 0;
}


/*SEARCH*/

.search input{
    position: relative;
    background-color: rgb(248, 248, 248);
    width: 70%;
    height: 40px;
    border-style: none;
    border: 2px solid white;
    border-right: none;
}

.search button{
    background-color: rgb(248, 248, 248);
    border-style: none;
    position: absolute;
    height: 40px;
    width: 5%;
    border: 2px solid white;
    border-left: none;
}

.search button img{
    height: 80%;
    width: 40%;
}

.search button:hover{
    border: 2px solid white;
    background-color: orangered;
}

.common-search{
    padding: 2%;
    text-align: center;
    background: black;
}

.res-button{
    width: 100%;
    text-align: left;
    border-style: none;
    font-size: 1.3em;
}

.res-button:hover{
    color: #970000;
    background: #ddd;
}

/*FOOTER*/

footer{
    bottom: 0;
    width: 100%;
    padding:2%;
    text-align: center;
    font: 2em Arial;
    background: #970000;
    color: cornsilk;
}

/*VERY SMALL DEVICES*/

.small-devices{
    display: none;
}



/* TABLES */
.table table {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 3em;
}

tr:hover {
    background-color: silver;
    color: #000;
}

table.auto {
    table-layout: auto;
}

td {
    text-align: left;
    border: none;
}

tr th {
    background-color: #970000;
    color: white;
    border: 5px solid black;
    text-align: left;
    padding: 1% ;
}

/*SEARCH RESULTS*/

.search-results{
    font-size: 4em;
    margin: 10px;
    font-family: Times New Roman, Times, serif;
    text-align: center; 
}

.noresult{
    font-size: 3em;
}

.more-results{
    margin: 20px;
}


/*MAPS*/

#map{
    height: 90%;
    width: 100%;
    overflow: hidden;
}

/* INFO PAGE */

#info{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
}

.content{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}






/* TABLE OPTIMIZATION */

@media(max-width:768px){
    .table{
            font-size: 0.5em;
        }
    
    .search-results{
        font-size: 2em;
    }
    
    .noresult{
        font-size: 1em;
    }
}
